<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>MyApp</title>

    <link rel="stylesheet" href="https://js.arcgis.com/3.19/esri/css/esri.css">
    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      .esriScalebar{
        padding: 20px 20px;
      }
      #map{
        padding:0;
      }
    </style>

    <script>var dojoConfig = { parseOnLoad: true };</script>
    <script src="https://js.arcgis.com/3.19/"></script>
    <script>
      var map;
      require([
        "esri/map",
        "esri/layers/FeatureLayer",
        "esri/dijit/PopupTemplate",
        "esri/request",
        "esri/geometry/Point",
        "esri/graphic",
        "esri/config",
        "dojo/on",
        "esri/Color",
        "esri/renderers/ClassBreaksRenderer",
        "esri/symbols/SimpleFillSymbol",
        "dojo/_base/array",
        "esri/symbols/SimpleMarkerSymbol",
        "dojo/domReady!"
      ], function(
        Map,
        FeatureLayer,
        PopupTemplate,
        esriRequest,
        Point,
        Graphic,
        xx,
        on,
        ClassBreaksRenderer,
        Color,
        SimpleFillSymbol,
        array,
        SimpleMarkerSymbol
      ) {
        esriConfig.defaults.io.proxyUrl = "/proxy/";
        xx.defaults.io.corsEnabledServers.push('http://127.0.0.1:5000/')
        var featureLayer;

        map = new Map("map", {
          basemap: "streets",
          center: [-121.74743, 38.54103],
          zoom: 13
        });

        //hide the popup if its outside the map's extent
        map.on("mouse-drag", function(evt) {
          if (map.infoWindow.isShowing) {
            var loc = map.infoWindow.getSelectedFeature().geometry;
            if (!map.extent.contains(loc)) {
              map.infoWindow.hide();
            }
          }
        });

        var featureCollection = {
          "layerDefinition": null,
          "featureSet": {
            "features": [],
            "geometryType": "esriGeometryPoint"
          }
        };
        featureCollection.layerDefinition = {
          "geometryType": "esriGeometryPoint",
          "objectIdField": "ObjectID",
          "drawingInfo": {
            "renderer": {
              "type": "simple",
              "symbol": {
                "type": "esriPMS",
                "url": "static/circle18.png",
                "contentType": "image/png",
                "width": 15,
                "height": 15
              }
            }
          },
          "fields": [{
            "name": "ObjectID",
            "alias": "ObjectID",
            "type": "esriFieldTypeOID"
          }, {
            "name": "description",
            "alias": "Description",
            "type": "esriFieldTypeString"
          }, {
            "name": "title",
            "alias": "Title",
            "type": "esriFieldTypeString"
          }]
        };

        var renderer = new ClassBreaksRenderer();

        var fillSymbol = new SimpleFillSymbol();
        fillSymbol.setColor(new Color([0, 0, 0, 0]));
        fillSymbol.outline.setColor(new Color([133, 133, 133, .5]));
        fillSymbol.outline.setWidth(1);

        var markerSymbol = new SimpleMarkerSymbol();
        markerSymbol.setColor(new Color([227, 139, 79, 1]));
        markerSymbol.setSize(12);
        markerSymbol.outline.setColor(new Color([51, 51, 51, 1]));
        markerSymbol.outline.setWidth(1);

        renderer.backgroundFillSymbol = fillSymbol;

        renderer.addBreak({
          minValue: -9007199254740991,
          maxValue: 9007199254740991,
          symbol: markerSymbol
        });

        //define a popup template
        var popupTemplate = new PopupTemplate({
          title: "{title}",
          description: "{description}"
        });

        //create a feature layer based on the feature collection
        featureLayer = new FeatureLayer(featureCollection, {
          id: 'flickrLayer',
          infoTemplate: popupTemplate
        });

        //associate the features with the popup on click
        featureLayer.on("click", function(evt) {
          map.infoWindow.setFeatures([evt.graphic]);
        });

        map.on("layers-add-result", function(results) {
          requestPhotos();
        });
        //add the feature layer that contains the flickr photos to the map
        map.addLayers([featureLayer]);

      function requestPhotos() {
        //get geotagged photos from flickr
        //tags=flower&tagmode=all
        var requestHandle = esriRequest({
          url: "http://127.0.0.1:5000/locations",
          handleAs: "json"
        });
        requestHandle.then(requestSucceeded, requestFailed);
      }

      function requestSucceeded(response, io) {
        //loop through the items and add to the feature layer
        var features = [];
        console.log(response)
        array.forEach(response, function(item) {
          console.log(item)
          var attr = {};
          ///attr["primaryDisplay"] = item.title ? item.title : "Flickr Photo";
          attr["y"] = item.latitude;
          attr["x"] = item.longitude;
          console.log(attr)

          var geometry = new Point(attr);

          var graphic = new Graphic(geometry);
          graphic.setAttributes(attr);
          features.push(graphic);
        });

        featureLayer.applyEdits(features, null, null);
      }

      function requestFailed(error) {
        console.log('failed');
      }
    });
    </script>
  </head>
  <body >
    <div id="map"></div>
  </body>

</html>
